.accordion-button:is(.collapsed) {
  color: black !important;
  background-color: rgba(234, 233, 233, 0.96) !important;
}
.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: rgba(234, 233, 233, 0.96) !important;
}
